{% extends "@Contao/be_main" %}

{% block main_content %}
    <div class="tl_listing_container sac-pilatus-event-stat--listing-container">
        {# Start: 01 Ausgeschriebene Touren (ab FS3) #}
        <h3 class="sac-pilatus-event-stat--headline">Ausgeschriebene Touren (ab FS3):</h3>

        <table class="sac-pilatus-event-stat--data-table">
            <tr>
                <th>&nbsp;</th>
                {% for time_period in time_periods %}
                    <th class="sac-pilatus-event-stat--data-table--data-cell">{{ time_period.getFormattedStartTime('Y') }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>Total</td>
                {% for data in _01_advertised_tours__total %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Mit Bergführer Angebot</td>
                {% for data in _01_advertised_tours__with_mountain_guide_offer %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Mit Bergführer</td>
                {% for data in _01_advertised_tours__with_mountain_guide %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Ohne Bergführer</td>
                {% for data in _01_advertised_tours__without_mountain_guide %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
        </table>

        {# Start: 01 Ausgeschriebene Kurse (ab FS3) #}
        <h3 class="sac-pilatus-event-stat--headline">Ausgeschriebene Kurse (ab FS3):</h3>

        <table class="sac-pilatus-event-stat--data-table">
            <tr>
                <th>&nbsp;</th>
                {% for time_period in time_periods %}
                    <th class="sac-pilatus-event-stat--data-table--data-cell">{{ time_period.getFormattedStartTime('Y') }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>Total</td>
                {% for data in _01_advertised_workshops__total %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Mit Bergführer Angebot</td>
                {% for data in _01_advertised_workshops__with_mountain_guide_offer %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Mit Bergführer</td>
                {% for data in _01_advertised_workshops__with_mountain_guide %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Ohne Bergführer</td>
                {% for data in _01_advertised_workshops__without_mountain_guide %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
        </table>

        {# Start: 01 Ausgeschriebene Events geordnet nach Gruppe (ab FS3) #}
        <h3 class="sac-pilatus-event-stat--headline">Ausgeschriebene Events geordnet nach Gruppe (ab FS3):</h3>

        <table class="sac-pilatus-event-stat--data-table">
            <tr>
                <th>&nbsp;</th>
                {% for time_period in time_periods %}
                    <th class="sac-pilatus-event-stat--data-table--data-cell">{{ time_period.getFormattedStartTime('Y') }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>Total Events</td>
                {% for data in _01_advertised_workshops__events_all %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            {% for data_org in _01_advertised_workshops__events_grouped_by_organizer %}
                <tr>
                    <td>{{ data_org.organizer.title }}</td>
                    {% for data in data_org.data %}
                        <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p class="sac-pilatus-event-stat--small-text">Anm: Ein Event kann mehrere Organisatoren/Gruppen zugeordnet werden.</p>
        <p class="sac-pilatus-event-stat--small-text">Anm: Es wurden keine Last Minute Touren und Veranstaltungen berücksichtigt.</p>

        {# Start: 02 Leitende aus ausgeschriebenen Events (ab FS3) #}
        <h3 class="sac-pilatus-event-stat--headline">Leitende aus ausgeschriebenen Events (ab FS3):</h3>

        <table class="sac-pilatus-event-stat--data-table">
            <tr>
                <th>&nbsp;</th>
                {% for time_period in time_periods %}
                    <th class="sac-pilatus-event-stat--data-table--data-cell">{{ time_period.getFormattedStartTime('Y') }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>Anzahl Leitende (kumuliert)</td>
                {% for data in _02_tour_guides__all %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Anzahl Nicht-Bergführer (kumuliert)*</td>
                {% for data in _02_tour_guides__not_mountain_guide %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Anzahl Bergführer (kumuliert)**</td>
                {% for data in _02_tour_guides__mountain_guide %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
        </table>
        <p class="sac-pilatus-event-stat--small-text">*Leiter darf nicht Bergf. sein. **Leiter muss Bergf. sein.</p>

        {# Start: 03 Anmeldungen von Teilnehmenden aus ausgeschriebenen Events (ab FS3)  #}
        <h3 class="sac-pilatus-event-stat--headline">Anmeldungen von Teilnehmenden aus ausgeschriebenen Events (ab FS3):</h3>

        <table class="sac-pilatus-event-stat--data-table">
            <tr>
                <th>&nbsp;</th>
                {% for time_period in time_periods %}
                    <th class="sac-pilatus-event-stat--data-table--data-cell">{{ time_period.getFormattedStartTime('Y') }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>Anmeldungen Total</td>
                {% for data in _03_event_subscriptions__total %}
                    <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data.getData() }}</td>
                {% endfor %}
            </tr>
            {% for subscription_state in _03_event_subscriptions__grouped %}
                <tr>
                    <td>{{ subscription_state.eventSubscriptionStateTrans }}</td>

                    {% for data_sub in subscription_state.data %}
                        <td class="sac-pilatus-event-stat--data-table--data-cell">{{ data_sub.getData() }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        {# Start: 03 Bestätigte Teilnehmende aus ausgeschriebenen Events (ab FS4) #}
        <h3 class="sac-pilatus-event-stat--headline">Bestätigte Teilnehmende aus ausgeschriebenen Events (ab FS4):</h3>

        <table class="sac-pilatus-event-stat--data-table">
            <tr>
                <th>&nbsp;</th>
                {% for time_period in time_periods %}
                    <th class="sac-pilatus-event-stat--data-table--data-cell">{{ time_period.getFormattedStartTime('Y') }}</th>
                {% endfor %}
            </tr>
            {% for data in _03_event_subscriptions__age_and_gender_distribution %}
                <tr>
                    {% for value in data %}
                        <td class="sac-pilatus-event-stat--data-table--data-cell">{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
